<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogApp.Properties.Settings.MES_CloudContext" connectionString="Data Source=HP-CONTDESKTOP\SQLEXPRESS;Initial Catalog=MES_Cloud;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>